@using Common.ViewModels;
@model DisplayMoviesViewModel
<div class="row">
    <p id="para"></p>
    @if (Model.Movies != null)
    {
        @foreach (var movie in Model.Movies)
        {
            <div class="col-md-4 mb-4">
                <a asp-action="Details" asp-route-id="@movie.Id" style="text-decoration:none;color:darkmagenta;">
                    <div class="card">
                        <img src="~/MyImages/@movie.ImagePath" class="card-img-top" alt="@movie.Name" height="250px">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Name</h5>
                        <p class="card-text">Release Date: @movie.ReleaseDate.ToShortDateString()</p>
                        <p class="card-text">Genre: @movie.GenreName</p>
                        <p class="card-text">Rating: @movie.AverageRating</p>
                    </div>
                </div>
                </a>
            </div>
        }
    }
    <partial name="_Pagination" model="@Model.pager" />
</div>
